<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^(?:\.env|artisan|composer\..*|phpunit\.xml|package.*\.json)$ - [F,L]
    RewriteRule ^(?:vendor|storage|bootstrap/cache|\.git)(/|$) - [F,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
